recursive-include doc *
recursive-include lammps-25Sep11-modified *
prune lammps-25Sep11-modified/python/build/
prune doc/_build/doctrees/
exclude doc/_build/html/.buildinfo
include *.txt
include *.rst